* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:hsl(210, 46%, 95%);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}

.left-side > img {
    width:30vw;
    height:35vw;
    object-fit: cover;
    border-radius:10px 0 0 10px;
}

.card {
    width:75vw;
    height:35vw;
    background-color:white;
    display:flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.right-side {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;
}

.right-side > h3{
    font-size:2vw;
    width:77%;
    line-height: 1.6;
    color:hsl(217, 19%, 35%);

    
}

.right-side > p {
    font-size: 1.3vw;
    width:77%;
}

.name-date > p {
    font-size: 1.3vw;
    width:75%;
}
.right-side > div  {
    width:75%;
}
.name {
    font-weight: 700;
    
    
}
.name-date {
    width:20vw;
}
div > img {
    width:7vw;
    border-radius:100%;
}
.foot {
    display:flex;
    gap:2vw;
    align-items: center;
}

#share {
    width: 6vw;
    background-color:hsl(210, 46%, 90%);
    padding:0.8vw;
}
blockquote {
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    color:hsl(214, 17%, 51%);
    width:30vw;
    height:7vw;
    border-radius:15px;
    text-align: center;
    top:400px;
    left:65vw;
    display:none;
}
blockquote:after {
    content:'';
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: hsl(217, 19%, 35%);
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
